@import "/styles/variables.scss";
.container{
    width: 80%;
    margin: auto;
    margin-top: 5rem;
    padding: 1rem;
    height: fit-content;
    @media screen and (max-width: $mobileResolution) {
      position: relative;
      width: 100%;
      // top: 8rem;
    }
    .minicontainer{
        // width: 80%;
        margin: auto;
        .heading{
            text-align: center;
            .title {
                font-size: 50px;
                color: #32236f;
                font-weight: 700;
                span {
                  color: #6a49f2;
                }
                @media screen and (max-width: $mobileResolution) {
                  font-size: 24px;
                }
              }
              .minititle {
                width: 60%;
               margin: auto;
               margin-top: -1rem;
                color: #767694;
                @media screen and (max-width: $mobileResolution) {
                  width: 100%;
                  margin-top: 0.5rem;
                }
              }
        }
        .customers{
           background-image: url('http://kalanidhithemes.com/live-preview/landing-page/apper/all-demo/01-app-landing-page-defoult/images/avtar_testimonial.png');
           background-repeat: no-repeat;
           height: 500px;
           width: 100%;
        }
    } 
}