@import "/styles/variables.scss";
$ham-menu-res: 1024px;
.container {
  width: 80%;
  margin-top: 6rem !important;
  margin: auto;
  @media screen and (max-width: $mobileResolution){
    position: relative;
    top: 20rem;
  }
  .minicontainer {
    display: flex;
    gap: 2.5rem;
    @media screen and (max-width: $mobileResolution){
      flex-direction: column-reverse;
    }
    .imgwraaper {
        // border: 2px solid #bebcc6;
        height: 460px;
        background: #e5e5e7;
        width: 50%;
        border-radius: 50%;
        @media screen and (max-width: $mobileResolution){
          position: relative;
          top: 2rem;
          right: 0.9rem;
          background: white;
        }
        .aboutframe{
            position: relative;
            top: -3rem;
            left: 0.5rem;
        }
        .aboutscreen{
            position: relative;
            top: 1rem;
            left: -1rem;
            
            @media screen and (max-width: $mobileResolution){
              left: 7.5rem;
              top: -25rem;
            }
        }
    }
    .aboutApp {
        width: 70%;
         @media screen and (max-width: $mobileResolution){
          width: 100%;
          text-align: center;
         }
      .heading {
        .title {
          font-size: 50px;
          color: #32236f;
          font-weight: 700;
          span {
            color: #6a49f2;
          }
          
      @media screen and (max-width: $mobileResolution) {
        font-size: 24px;
      }
        }
        .minititle {
          //     width: 37%;
          //    margin: auto;
          margin-top: -1rem;
          color: #767694;
           @media screen and (max-width: $mobileResolution){
            margin-top: 1rem;
           }
        }
      }
    }
    .count {
      display: flex;
      gap: 2rem;
      width: 70%;
      align-items: left;
      flex-wrap: wrap;
      @media screen and (max-width: $mobileResolution){
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 0.5rem;
      }
      .countdetail {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        width: fit-content;
           padding: 1.5rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        color: #32236f;
        @media screen and (max-width: $mobileResolution){
          padding: 0.2rem;
        }
        .cntinfo{
            text-align: left;
            line-height: 0rem;
           
            .cnt {
                font-size: 40px;
                font-weight: 600;
                @media screen and (max-width: $mobileResolution){
                  font-size: 18px;
                }
              }
              .cnttitle {
                  font-size: 16px;
              }
        }
        
      }
      .btn{
        background-color: 
        #6a49f2 ;
        border-radius: 10px;
        color: white;
        font-weight: 600;
border: #6a49f2;
        padding: 0.5rem 1rem 0.5rem 1rem;
&:hover{
    color: #6a49f2;
    background: white;
    border: 2px solid #6a49f2;
}
    }
    }
  
  }
}
